@model DateTime

@{
    var result = DateTime.UtcNow - Model;
    if (result.TotalDays >= 7)
    {
        var totalWeeks = result.TotalDays / 7.0;
        <span>@((int)Math.Floor(totalWeeks)) week(s) ago</span>
    }
    else if (result.TotalDays >= 1)
    {
        <span>@((int)Math.Floor(result.TotalDays)) days(s) ago</span>
    }
    else if (result.TotalHours >= 1)
    {
        <span>@((int)Math.Floor(result.TotalHours)) hour(s) ago</span>
    }
    else
    {
        <span>Less than an hour ago</span>
    }
}

