@inject IViewLocalizer _localizer;

@{
    ViewData["Title"] = _localizer["Title"];
}

<h1>@_localizer["Header"]</h1>

<img src="@ViewData["ContainerLink"]061d7a58-5eb4-4270-801d-660dc3e9d8cb.png" />
<img src="@ViewData["ContainerLink"]b496865f-6806-44ac-b492-7586771ac5f8.jpg" />