html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}

.img-input-div {
    height: 200px;
    border-radius: 5px;
    border: 2px dotted black;
}

.file {
    opacity: 0;
}

output {
    gap: 15px;
    border-radius: 5px;
}

    output .image {
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

        output .image span {
            top: -4px;
            right: 4px;
        }

            output .image span:hover {
                opacity: 0.8;
            }

    output .span--hidden {
        visibility: hidden;
    }

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.8);
}

.h-200p {
    height: 200px;
    width: auto;
}

.img-clickable {
    cursor: pointer;
}

.carousel-image-list {
    max-height: 600px;
}

.card-text.markdown,
.card-text.markdown h5,
.card-text.markdown h6 {
    font-size: 0.6rem;
}

    .card-text.markdown h1{
        font-size: 1rem; 
    }

    .card-text.markdown h2 {
        font-size: 0.9rem;
    }

    .card-text.markdown h3 {
        font-size: 0.8rem;
    }

    .card-text.markdown h4 {
        font-size: 0.7rem;
    }
